footer{
    display: flex;
    background-color: var(--third-color);
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 16px;
    font-family: var(--font);
    font-weight: bold;
}

.contactMe{
    display: flex;
}

footer > h2{
    user-select: none;
}

.mail{
    display: flex;
    flex-direction: row;
    padding-right: var(--spacing3);
    color: var(--font-color);
    align-items: center;
    justify-content: center;
    user-select: none;
}

footer h3, h2{
    padding:  0 var(--spacing2);
    font-family: var(--title-font);
    color: var(--font-color);
    transition: 0.5s;
}

footer  .linkedin:hover{
    color : var(--second-color)
}

@media screen {
    .contactMe{
        flex-direction: column;
        flex-wrap: wrap;
    }
}


