footer{
    display: flex;
    background-color: var(--third-color);
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 16px;
    font-family: var(--font);
    font-weight: bold;
}

.contactMe{
    display: flex;
    padding: var(--spacing2) var(--spacing3);
}

footer > h2{
    user-select: none;
    padding-left: var(--spacing3);
}

.mail{
    display: flex;
    flex-direction: row;
    color: var(--font-color);
    align-items: center;
    justify-content: center;
    user-select: none;
}

footer h3, h2{
    font-family: var(--title-font);
    color: var(--font-color);
    transition: 0.5s;
}

footer  .linkedin:hover{
    color : var(--second-color)
}

@media screen and (max-width : 700px){
    .contactMe{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}


