h1{
    font-family: var(--title-font);
}

nav{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--font-color);
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: 100vw;
}

nav h1{
    padding:  0  var(--spacing2) 0;
}

nav h2{
    display: flex;
    font-family: var(--title-font);
    font-size: 1em;
    align-items: center;
    transition: 0.5s;
    padding: 0 var(--spacing2) 0;
}

.navigation{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0vw;
   height: 100%;
}

