.personalStuff {
    font-family    : var(--font);
    font-size      : 20px;
    display        : flex;
    justify-content: space-around;
}

.skills {
    display        : flex;
    justify-content: flex-start;
    flex-direction : column;
    margin         : var(--spacing2);
}

.interests {
    display        : flex;
    justify-content: flex-start;
    flex-direction : column;
    margin         : var(--spacing2);
}

h3 {
    font-family: var(--title-font);
    font-size  : 40px;
}

.fishing {
    max-width: 300px;
    height   : auto;
}

.bobBurger {
    max-width: 300px;
    height   : auto;

}

.mantra {
    font-family: var(--title-font);
    font-size  : 60px;
    text-align : center;
}

li {
    margin: var(--spacing2);
}
ul{
    padding: 0;
}