footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    box-shadow: 0 -3px 10px -5px var(--dark-color);
}

footer h2 {
    user-select: none;
    padding-left: var(--spacing3);
    font-size: 24px;
    font-family: var(--title-font);
    color: var(--font-color);
}

footer a {
    transition: .5s;
}

footer h2 :hover{
    color: var(--second-color);
}

.mentionIcon{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 700px) {
    
    footer h2 {
        font-size: clamp(1.07em, 4vw, 24px);
    }
}