@import url("animations.css");



.skillsAndHobbies {
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.personalStuff {
    font-family    : var(--font);
    font-size      : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    gap            : var(--spacing4);
    width          : 100%;
}

.skills {
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    width           : 500px;
    margin          : var(--spacing3);
    border-radius   : var(--spacing);
    background-color: var(--dark-transparent);
    padding         : var(--spacing3);
}

.skills img {
    width     : 80%;
    align-self: center;
}

hr {
    height       : 75%;
    align-self   : center;
    border       : 1px solid var(--darker-font-color);
    border-radius: 10px;
}

.hobbies img {
    align-self: center;
    width     : 100%;
}

.hobbies {
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    width           : 500px;
    margin          : var(--spacing3);
    border-radius   : var(--spacing);
    background-color: var(--dark-transparent);
    padding         : var(--spacing3);
}

.skillsAndHobbies h3 {
    font-family: var(--title-font);
    font-size  : 40px;
    margin     : 0 0 var(--spacing2) 0;
    user-select: none;
}

.skillsList {
    display        : flex;
    justify-content: space-between;
}

.fishing,
.bobBurger {
    max-width    : 100em;
    height       : auto;
    margin-bottom: var(--spacing2);
}

.mantra {
    font-family: var(--title-font);
    font-size  : 70px;
    text-align : center;
    margin     : var(--spacing3);
    height     : 154px;
    text-shadow: 0 0 2px black;
    user-select: none;
}


.mantra:hover {
    text-shadow: 0 0px 4px black;
    font-size  : 71px;
}

li {
    margin         : var(--spacing2) 0;
    list-style-type: none;
}

ul {
    padding: 0;
    margin : 0;
}

ul h3 {
    display    : flex;
    align-items: center;
}

.spaceIconsh3 {
    margin-left: var(--spacing);
    padding-top: var(--spacing2);
}


@media screen and (max-width:1070px) {
    .mantra {
        height   : auto;
        width    : auto;
        font-size: 3em;
    }

    .hobbies {
        width: 90vw;
    }

    .skills {
        width         : 90vw;
        flex-direction: column-reverse;
    }

    .skillsAndHobbies {
        flex-direction: column;
        align-items   : none;

    }

    .personalStuff {
        flex-direction: column;
        height        : auto;
    }

    .skillsList {
        flex-direction: column;
        margin-bottom : var(--spacing2);
    }

    .progressBar {
        margin-top: calc(var(--spacing) / 2);
    }

    .bobBurger,
    .fishing {
        width        : 90vw;
        margin-bottom: var(--spacing3);
    }

    hr {
        display: none;
    }
}