@import url("header.css");
@import url("footer.css");
@import url("stylePersonal.css");
@import url("tophead.css");
@import url("trainings.css");
@import url("exp.css");
@import url('form.css');

@font-face {
    font-family: 'krabby_pattyregular';
    src        : url('../font/some-time-later.regular.otf');
    font-weight: normal;
    font-style : normal;
}

:root {
    --main-color          : #F2E422;
    --second-color        : #5bc6cece;
    --font-color          : #AD6542;
    --lighter-font-color  : #a77c67;
    --lighter-second-color: #80aae248;
    --dark-color          : rgb(41, 41, 33);
    --yellow-transparent  : rgba(248, 248, 190, 0.205);
    --light               : rgb(255, 255, 248);


    --spacing      : 8px;
    --spacing2     : calc(var(--spacing) * 2);
    --spacingg2    : calc(var(--spacing) * 3);
    --spacing3     : calc(var(--spacing2) * 2);
    --spacing4     : calc(var(--spacing3) * 2);
    --spacingSkills: 125px;

    --semi-section-size: 500px;


    --font                      : "Roboto", sans-serif;
    --title-font                : 'krabby_pattyregular';
    --font-size-title           : 46px;
    --font-size-main-points     : 22px;
    --font-size-seconday-points : 18px;
    --font-size-important-points: 32px;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
    margin   : 0;
}

h1 {
    font-family: var(--title-font);
}

body {
    margin               : 0;
    background-image     : url('../images/flowers.jpg');
    background-attachment: fixed;
    background-size      : cover;
    background-repeat    : repeat-y;
    font-weight          : bold;
    color                : var(--font-color);
    box-sizing           : border-box;
    cursor               : url('../images/cursor.cur'), default;
}

a {
    text-decoration: none;
    color          : var(--font-color)
}

p {
    font-family: var(--font);
}

li {
    font-weight: bold;
}

img {
    user-select: none;
}

a:visited {
    color: var(--font-color)
}

<<<<<<< HEAD
@media screen and (max-width:1070px) {
    body {
        background-size: contain;
    }
}
=======

>>>>>>> main
