@import url("animations.css");



.skillsAndHobbies {
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.personalStuff {
    font-family    : var(--font);
    font-size      : var(--font-size-main-points);
    display        : flex;
    flex-direction : row;
    justify-content: center;
    gap            : var(--spacing4);
    width          : 100%;
}

.skills,
.hobbiesList {
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    width           : var(--semi-section-size);
    margin          : var(--spacing3);
    border-radius   : var(--spacing);
    background-color: var(--yellow-transparent);
    padding         : var(--spacing3);
    backdrop-filter : blur(5px);
}

.skills img {
    width     : 90%;
    align-self: center;
}


.hobbies img {
    align-self: center;
    width     : 100%;
}

.skillsAndHobbies h3 {
    font-family: var(--title-font);
    font-size  : var(--font-size-title);
    margin     : 0 0 var(--spacing2) 0;
    user-select: none;
}

.skillsList {
    display        : flex;
    justify-content: space-between;
}

.fishing,
.bobBurger {
    max-width    : 100em;
    height       : auto;
    margin-bottom: var(--spacing2);
}

.mantra {
    font-family: var(--title-font);
    font-size  : 70px;
    text-align : center;
    margin     : var(--spacing3);
    height     : 154px;
    text-shadow: 0 0 2px black;
    user-select: none;
    transition : .5s;
}


.mantra:hover {
    text-shadow: 0 0px 4px black;
    font-size  : 71px;
}

li {
    margin         : var(--spacing2) 0;
    list-style-type: none;
}

ul {
    padding: 0;
    margin : 0;
}

.iconTitle {
    display    : flex;
    align-items: center;
}

.spaceIconsh3 {
    margin-left: var(--spacing2);
    padding-top: var(--spacing2);
}


@media screen and (max-width:905px) {
    .mantra {
        height   : auto;
        width    : auto;
        font-size: 3em;
    }

    .mantra:hover {
        font-size: 3em;
    }

    .personalStuff {
        align-items: center;
    }

    .interests {
        width: 60vw;
    }

    .skills {
        flex-direction: column-reverse;
        width         : 60vw;
    }

    ul {
        width     : 40vw;
        align-self: center;
    }

    .skillsAndHobbies {
        flex-direction: column;
    }

    .personalStuff {
        flex-direction: column;
        height        : auto;
    }

    li {
        font-size : clamp(.5em, 2vw, 16px);
        align-self: center;
    }

    .skillsAndInterests h3 {
        font-size: clamp(1em, 3vw, 40px);
    }

    .skillsList {
        flex-direction: column;
        margin-bottom : var(--spacing2);
    }

    .progressBar {
        margin-top: calc(var(--spacing) / 2);
        width     : clamp(1em, 25vw, 50vw);
    }

    .bobBurger,
    .fishing {
        width        : 90vw;
        margin-bottom: var(--spacing3);
    }

}