@import url("header.css");
@import url("footer.css");
@import url("stylePersonal.css");
@import url("tophead.css"); 
@import url("trainings.css");
@import url("exp.css");
@font-face {
    font-family: 'krabby_pattyregular';
    src: url('font/krabbypatty-pkzab-webfont.woff2') format('woff2'), url('font/krabbypatty-pkzab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #F2E422;
    --second-color: #5bc6cece;
    --font-color: #AD6542;
    --darker-font-color: #965839;
    --lighter-second-color: #80aae248;
    --dark-color: rgb(41, 41, 33);


    --spacing: 8px;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing2) * 2);
    --spacing4: calc(var(--spacing3) * 2);
    --spacingSkills: 125px;


    --font: "Roboto", sans-serif;
    --title-font: 'krabby_pattyregular';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--second-color);
    font-weight: bold;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color)
}

li {
    font-weight: bold;
}

img {
    user-select: none;
}

a:visited {
    color: var(--font-color)
}
